<table class="table table-bordered" style="color: white;">

    <thead>
        <tr>

            <th colspan="3" class="text-center">

                Carro compras

            </th>

        </tr>

        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Suma</th>


        </tr>


    </thead>

    <tbody>

        {% for item in cart %}
        {% with product=item.product %}
        <tr class="text-center">

            <td>{{ product.name }}</td>
            <td>            
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{item.update_quantity_form.quantity}}
                {{item.update_quantity_form.override}}
                <input type="submit" value="Update">
                {% csrf_token %}
            </form>   </td>
            <td>
                

                {{ item.total_price }} Q

            </td>

        </tr>
        {% endwith %}
        {% endfor %}

    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">

                Total: {{cart.get_total_price}} Q


            </td>


        </tr>
    </tfoot>


</table>